<header class="" style="background-color: #ec1c21">
  <!--LOGO-->
  <a
    id="logo"
    href="http://www.ufpso.edu.co"
    target="_blank"
    class="activo bg-white container1"
  >
    <!--UFPSO-->
    <div class="logo_ufpso p-1">
      <img
        class="w-20 h-20"
        src="https://siaweb.ufpso.edu.co/public/views/imagenes/ufpso/logoufps.png"
        alt="UFPSO"
      />
    </div>
  </a>

  <!-- Contenedor agrupado para SIA y User Profile -->
  <div class="right-section">
    <!-- User Profile Image (Desktop) -->
    <div class="user-profile-desktop" *ngIf="student">
      <img
        [src]="userImageUrl"
        alt="Usuario"
        class="user-avatar"
        onerror="this.src='img/default-user.png'"
      />
    </div>
    <div class="flex flex-col">
      <p class="text-white desktop-sia">SIA</p>
    </div>
  </div>
</header>
